{erl_opts, [warnings_as_errors,
            {d, 'NOTEST'},
            {w, all},
            warn_obsolete_guard,
            warn_export_vars,
            warn_export_all,
            warn_shadow_vars]}.

{eunit_opts, [{i, "src"},
              {report,{eunit_surefire,[{dir,"."}]}}]}.

{cover_enabled, true}.
{xref_checks, [fail_on_warning, undefined_function_calls]}.
{clean_files, [".eunit/*", "ebin/*.beam", ".test/*.beam"]}.

